# 의존성
node_modules/

# 빌드 결과물
dist/
dist-ssr/

# 환경변수
.env
.env.local
.env.*.local

# 에디터
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IntelliJ IDEA
.idea/
.idea/shelf/
.idea/workspace.xml
.idea/queries/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/httpRequests/

# 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db